.slider-container {
  overflow-x: hidden;
  width: 100vw;
  height: 75vh;
}

.slider-list {
  display: flex;
  max-height: 100%;
}

.slide-list-container {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  margin: 10px;
  transition: transform 0.5s ease-in-out;
}

.slide-img {
  width: 80%;
}

.dot {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  height: 10px;
  margin: 5px;
  width: 10px;
  border: solid rgb(248, 176, 42) 2px;
}
